packages/swap-sdk/**/*.ts
src/components/*.js
src/components/*.jsx
src/muiFiles/*.js
src/muiFiles/*.jsx
src/pages/*.js
src/pages/*.jsx
src/scripts/*.js
src/scripts/*.jsx
src/utils/*.js
src/utils/*.jsx